@import '../Shared/Theme.scss'; 

.primary-form {
  color: $primary !important;
  border: 2px solid $secondary !important;

  &:focus {
    box-shadow: 0 0 0 0.2rem adjust-color($primary, $alpha: -0.4) !important;
  }
}

