@import '~bootstrap/scss/bootstrap';
.rev {
  font-size: 80px;
  margin-bottom: 20px;
  text-align: center;
  margin:0 10px;
  min-width: 60px;
  border-bottom: 13px solid;
  max-height: 120px;
}

*{
  margin:0;
  padding:0;
}
