@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap' );

*{
  margin:0;
  padding:0;
  font-family: 'Nunito', sans-serif;
}
// revealed letters
.rev {
  font-size: 80px;
  margin-bottom: 20px;
  text-align: center;
  margin:0 10px;
  min-width: 60px;
  border-bottom: 13px solid;
  max-height: 120px;
}

.main-shadow{
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  padding: 1rem !important;
  margin-top: 0.5rem !important;
}

.inner-shadow{
   box-shadow:0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  padding: 1rem !important;
  margin: 1.5rem !important;
  background: #f8f8f8;
}

.school-font {
  font-family: 'Comic Neue', cursive;
}

