@import '../Shared/Theme.scss';

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: rgba($primary, 0.7)!important;
}

.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem $secondary;
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem $secondary;
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: $secondary; 
}